[Unit]
Description=Front end Index.js file

[Service]
User=asiangauss
ExecStart=/usr/bin/node /home/asiangauss/poolappScript/TeamAPoolProjectBackend/Index.js
WorkingDirectory=/home/asiangauss/poolappScript/TeamAPoolProjectBackend

[Install]
WantedBy=multi-user.target
