[Unit]
Description=Front end Index.js file, make sure to change USER

[Service]
User=adminbk
ExecStart=/usr/bin/node /home/adminbk/poolappScript/TeamAPoolProjectBackend/Index.js
WorkingDirectory=/home/adminbk/poolappScript/TeamAPoolProjectBackend

[Install]
WantedBy=multi-user.target
